/* ====universal styles==== */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
*/
/* ====universal styles==== */

/* ====header styles==== */

.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-list-nav {
  display: none;
}
.page-list-contact {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}
.accent {
  color: #2e2f42;
}
.button-burger {
  cursor: pointer;
  line-height: 0;
  border: none;
  background-color: #fff;
  padding: 16px 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
}

.container-mobile-menu {
  position: relative;
  width: 320px;
  max-height: 640px;
  margin: 0;
  padding: 72px 24px 40px 16px;
  background: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 24px;
  right: 24px;
  line-height: 0;
  padding: 0;
  margin-top: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: #2e2f42;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mobile-menu-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}
.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-menu-page-link-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-menu-page-link-nav-hover {
  color: #404bbf;
}

.mobile-menu-page-list-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-menu-page-link-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-sotiale-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.icon-mobile-menu-sotiale-item {
  width: 40px;
  height: 40px;
}

.icon-mobile-menu-sotiale-link {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile-menu-sotiale-link:hover,
.icon-mobile-menu-sotiale-link:focus {
  background-color: #31d0aa;
}

.icon-mobile-menu-sotiale {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .page-nav {
    display: flex;
    flex-direction: row;
    max-width: 261px;
    justify-content: space-between;
    align-items: center;
  }
  .page-list-nav {
    display: flex;
    padding: 24px 0;
    gap: 40px;
  }
  .page-list-contact {
    display: block;
    gap: 12px;
    padding: 16px 0;
  }
  .page-link-nav-hover::after {
    content: "";
    left: 0;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    bottom: -1px;
  }

  .page-link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .page-link-nav:hover,
  .page-link-nav:focus {
    color: #404bbf;
  }

  .page-link-nav-hover {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-link-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .page-link-contact:hover,
  .page-link-contact:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .page-nav {
    max-width: 452px;
  }
  .page-list-contact {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }
  .logo {
    margin-right: 76px;
  }

  .page-contact {
    font-style: normal;
  }

  .page-link-contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ====main styles==== */

.page-present {
  background: #2e2f42;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/hero-image-mobile.jpg);
  background-repeat: no-repeat;
}
@media only screen and (min-resolution: 192dpi) {
  .page-present {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-image-mobile@2x.jpg);
  }
}
.container-page-present {
  max-width: 320px;
  padding: 72px 0 72px 0;
}
.page-title-present {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.page-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-btn:hover,
.page-btn:focus {
  color: #fff;
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .page-present {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-image-tablet.jpg);
  }
  @media only scrin and (min-resolution: 192dpi) {
    .page-present {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/hero-image-tablet@2x.jpg);
    }
  }
  .container-page-present {
    max-width: 768px;
    padding: 112px 0 112px 0;
  }
  .page-title-present {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .page-present {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image.jpg);
  }
  @media only screen and (min-resolution: 192dpi) {
    .page-present {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image@2x.jpg);
    }
  }
  .container-page-present {
    max-width: 1440px;
    padding: 188px 0 188px 0;
  }
  .page-title-present {
    margin-bottom: 48px;
  }
}

/* styles section second */
.section-styles {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-benefits-contener {
  display: none;
}

.page-benefis-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0px;
}

.text-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
  font-size: 500;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .page-benefis-list {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 72px;
    gap: 24px;
  }
  .title-item {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-styles {
    padding: 120px 0;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-benefits-contener {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .page-benefis-list {
    display: flex;
    justify-content: space-evenly;
  }
  .title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .text-item {
    font-size: 400;
  }
}

/* styles section three */
.page-team {
  text-align: center;
  background-color: #f4f4fd;
}

.title-page-team {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}
.page-team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-top: 72px;
}

.page-team-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.info-team {
  padding: 32px 0;
}
.icon-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.icon-team-item {
  width: 40px;
  height: 40px;
}

.icon-team-link {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: #404bbf;
}

.icon-team {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .page-team-item {
    max-width: 264px;
  }
  .page-team-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 64px;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-team-item {
    max-width: 264px;
  }
  .page-team-list {
    justify-content: space-evenly;
    gap: 24px;
  }
}
